
        <h2>Candidate Info -  معلومات المشترك</h2>
        <div class="form-group">
            <label>First Name - الاسم الأول</label>
            <input id="firstName" type="textbox" class="form-control" ng-model="user.firstName" placeholder="First name..">
        </div>
        <div class="form-group">
            <label >Last Name - اسم العائلة</label>
            <input  id="lastName" type="textbox" class="form-control" ng-model="user.lastName" placeholder="Last name..">
        </div>
        <div class="form-group">
            <label >Phone - الهاتف</label>
            <input id="phone" type="number" class="form-control" ng-model="user.phone" placeholder="Phone..">
        </div>
        <div class="form-group">
            <label>Date of Birth - تاريخ الميلاد</label>
            <input type="date" id="date"  class="form-control" ng-model="user.dateOfBirth" placeholder="Date..">
        </div>
        <div class="form-group">
            <label>Nationality -  الجنسية</label>
            <input type="textbox" id="nationality" class="form-control" ng-model="user.nationality" placeholder="Nationality..">
        </div>
        <div class="form-group">
            <label>City of Residence - بأي مدينة تسكن</label>
            <input type="textbox" id="city" class="form-control" ng-model="user.city" placeholder="City..">
        </div>
        <div class="form-group">
            <label>Gender - الجنس</label>
            <select class="form-control" ng-model="user.gender">
              <option value="male">Male - ذكر</option>
              <option value="female">Female - انثى</option>
              <option value="other">Other - غير ذلك</option>
            </select>
        </div>
        <div class="form-group">
            <label>English Ability - المعرفة باللغة الانجليزية</label>
            <p>1 is The Worst, 5 is The Best</p>
            <p>١ هي الاسوء ، ٥ هي الأفضل</p>
            <select class="form-control" ng-model="user.englishAbility">
              <option value="1">1- No English - لا أجيد اللغة الانكليزية </option>
              <option value="2">2- I can speak & read a little </option>
              <option value="3">3- I can watch movies with no subtitles</option>
              <option value="4">4- I can have a technical conversation with a native speaker</option>
              <option value="5">5- I'm a native speaker</option>
            </select>
        </div>
        <div class="form-group">
            <label>Education Level -  المستوى التعليمي</label>
            <select class="form-control" ng-model="user.educationLevel">
              <option value="someHighSchool">Some High School - مدرسة ما قبل التوجيهي </option>
              <option value="hightSchoole">High School Graduate - توجهي</option>
              <option value="vocationalTraining">Vocational Training - تدريب مهني</option>
              <option value="someUnversity">Some University - كلية</option>
              <option value="4year">University Graduate (4+ Year Undergraduate Degree) - شهادة جامعية ٤ سنوات</option>
              <option value="master">Masters Degree - ماجستير</option>
              <option value="PhD">PhD - دكتوراه</option>
              <option value="other">Other - غير ذلك</option>
            </select>
        </div>
        <div class="form-group">
            <label>How Did You Hear About RBK? - كيف علمت عن الـ RBK</label>
            <select class="form-control" ng-model="user.knowRBK">
              <option value="friend">From a Friend - من صديق</option>
              <option value="email">Email -  الايميل</option>
              <option value="event">Event - نشاطات مختلفة</option>
              <option value="facebook">Facebook - فيسبوك</option>
              <option value="webSearch">Web Search (Google, ect.) - محركات البحث</option>
            </select>
        </div>
        <div class="form-group">
            <label>Do You Have Coding Experience? - هل لديك خبرة برمجية مسبقة</label>
            <select class="form-control" ng-model="user.codeExperience">
              <option value="true">Yes - نعم</option>
              <option value="false">No - لا</option>
            </select>
        </div>
        <div class="form-group">
            <label>Are You a Refugee? - هل أنت لاجىء</label>
            <select class="form-control" ng-model="user.isRefugee">
              <option value="true">Yes- نعم</option>
              <option value="false">No - لا</option>
            </select>
        </div>
        </div>
        <button class="btn btn-default btn-block" ng-click="updateCandidateInfo()">Update</button>
        <script src="../../_js/formHelper.js"></script>
