    <div class="container">
        <h1>Update info</h1>
        <div class="form-group">
            <label>First Name</label>
            <input type="textbox" class="form-control" ng-model="user.firstName" placeholder="first name..">
        </div>
        <div class="form-group">
            <label >Last Name</label>
            <input type="textbox" class="form-control" ng-model="user.lastName" placeholder="last name..">
        </div>
        <div class="form-group">
            <label >Phone</label>
            <input type="textbox" class="form-control" ng-model="user.phone" placeholder="Phone..">
        </div>
        <div class="form-group">
            <label>Nationality</label>
            <input type="textbox" class="form-control" ng-model="user.nationality" placeholder="Nationality..">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="password" class="form-control" ng-model="user.city" placeholder="City..">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" ng-model="user.gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" value="option1" ng-model="user.isRefugee" > I'm Refugee
          </label>

        </div>
        <button class="btn btn-default" ng-click="test2()">Update</button>

    </div>
