    <div class="container">
        <h1>Sign up</h1>
        <div class="form-group">
            <label for="inputEmail">First Name</label>
            <input type="textbox" class="form-control" ng-model="user.firstName" placeholder="Enter your First Name..">
        </div>
        <div class="form-group">
            <label for="inputEmail">Last Name</label>
            <input type="textbox" class="form-control" ng-model="user.lastName" placeholder="Enter your Last Name..">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="textbox" class="form-control" ng-model="user.email" placeholder="Enter your email..">
        </div>
        <div class="form-group">
            <label for="confirmInputEmail">Confirm email address</label>
            <input type="textbox" class="form-control"  placeholder="Confirm your email..">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password here..">
        </div>
        <div class="form-group">
            <label for="confirmInputPassword">Confirm password</label>
            <input type="password" class="form-control"  placeholder="Confirm Password..">
        </div>
        <button type="submit" class="btn btn-default">Sign up</button>
        <button ng-click="test()" class="btn btn-default">test</button>
    </div>
