

        <h1>Email verifying - تأكيد البريد الالكتروني</h1>
        <div class="form-group">
            <label>Enter code that sent to your email, please - الرجاء ادخال الكود الذي تم إرساله لبريديك</label>
            <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  id="inputVerify" maxlength="5" class="form-control" ng-model="emailCode" placeholder="Enter your code.." >
        </div>

        <button  id="verify" ng-click="verify(emailCode)" class="btn btn-default btn-block">Verify</button>
        <script src="../../_js/formHelper.js"></script>
